<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
<div class="row">
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="col-md-2">
<input type="file" formControlName="categoryImage" (change)="onSelectFile($event)" accept=".png, .jpg, .jpeg"  >
<p *ngIf="!categoryForm.controls.categoryImage.valid && submitted" class="error-val-pro">Please select image</p>
</div>
<div class="col-md-10">
<div class="row">
<div class="col-md-2">
<div class="form-group">
<label>Min. Order Value</label>
<input type="text" formControlName="minimum" [ngClass]="{'text-box-border': categoryForm.controls.minimum.valid === false}" class="form-control">
<p *ngIf="!categoryForm.controls.minimum.valid && submitted" class="error-val-pro">Please enter a Min Order Value</p>
</div>
</div>
<div class="col-md-3">
<div class="form-group">
<label>Name</label>
<input type="text" formControlName="categoryName" class="form-control" >
<p *ngIf="!categoryForm.controls.categoryName.valid && submitted" class="error-val-pro">Please enter a category name</p>
</div>
</div>
<div class="col-md-3">
<div class="form-group">
<label>Arabic Name</label>
<input type="text" formControlName="arabicName" class="form-control">
<p *ngIf="!categoryForm.controls.arabicName.valid && submitted" class="error-val-pro">Please enter a arabic name</p>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label class="perm">Permissions</label>
<ul>
<li>Store Manager can change price</li>
<li style="float: right;">
<!-- Default switch -->
<div class="container-switch">
<label class="switch"><input type="checkbox" formControlName="managerPrice" /> <span class="slider"></span>
</label>
</div>
<!-- <button type="button" class="btn btn-xs btn-secondary btn-toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
<div class="handle"></div>
</button> -->
</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-md-2">
<div class="form-group">
<label>Min. Order Time (Give mins)</label>
<input type="text" formControlName="cate_processingMin" class="form-control">
<p *ngIf="!categoryForm.controls.cate_processingMin.valid && submitted" class="error-val-pro">Please enter a Min. Order Time</p>
</div>
</div>
<div class="col-md-3">
<div class="form-group">
<label>Order Processing Time</label>
<input type="text" formControlName="orderProcessing" class="form-control">
<p *ngIf="!categoryForm.controls.orderProcessing.valid && submitted" class="error-val-pro">Please enter a order processing</p>
</div>
</div>
<div class="col-md-3">
<div class="form-group">
<label>Assign to store</label><br>
<select formControlName="storeId">
<option [selected]="true" value="">None</option>
<option *ngFor="let item of storeList;let i = index" value="{{item.id}}" >{{item.storeName}}</option>
</select>
<p *ngIf="!categoryForm.controls.storeId.valid && submitted" class="error-val-pro">Please select store name</p>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<ul>
<li>Coming Soon Status</li>
<li style="float: right;">
<div class="container-switch">
<label class="switch"><input type="checkbox" formControlName="isComingSoon" />  <span class="slider"></span>
</label>
</div>
<!-- <button type="button" class="btn btn-xs btn-secondary btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
<div class="handle"></div>
</button> -->
</li>
</ul>
<div *ngIf = "showAccept == 'true'">
<button class="save_btn">Save</button>	
</div>
</div>
</div>
</div>
</div>
</div>
</form>