.customer_modal .modal.right.fade.in .modal-dialog{
width: 40%;
}
.modal .modal-header{
    padding:23px 16px !important;
}
.modal.right .modal-content{
    height: 600px;
}
@media only screen and (max-width: 1399px) and (min-width: 1000px){
    .modal.right .modal-content{
        height: 550px ! important;
    }
    .modal.right .modal-dialog{
        width: 40%;
    }
    #log_man .modal-dialog{
        width: 70% ! important;
        }
  }
@media only screen and (max-width: 1024px) and (min-width: 767px){
    .modal.right .modal-content{
        height: 670px ! important;
    }
    .modal.right .modal-dialog{
        width: 60%;
    }
    #log_man .modal-dialog{
        width: 70% ! important;
        }
  }

  #log_man .modal-dialog{
    width: 70% ! important;
    }