

.ass_sss ul li{
    display: block !important;
}
.ass_sss{
    margin: 0px 20px;
}
.make_sec img{
    width: 50px;
}
/* .sortable-container{
    width: 100% ! important;
} */

/* .topSearch{
    top: -40px !important;
} */
/* .dri_sec .card .card-header{
    height: 300px;
    overflow: scroll;
} */