

.ass_sss ul li{
    display: block !important;
}
.ass_sss{
    margin: 0px 20px;
}
.make_sec img{
    width: 50px;
}
/* .sortable-container{
    width: 100% ! important;
} */

/* .topSearch{
    top: -40px !important;
} */
/* .dri_sec .card .card-header{
    height: 300px;
    overflow: scroll;
} */
.search-form .form-control.search-control {
    background: no-repeat right 11px center / 25px;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    color: transparent;
    font-size: 16px;
    width: 38px;
    margin-right: -30px;
    /* margin: 0; */
    /* padding: 0; */
    outline: 0 none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    /* -webkit-backface-visibility: hidden;` */
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    }
    @media only screen and (max-width: 1399px) and (min-width: 1000px){
        .search-form .form-control.search-control {
            margin-right: -25px;
        }
        }
    .search-form .input-group .form-control:focus {
        padding: 10px 20px;
        width: 250px;
        color: #000;
        cursor: auto;
        background-color: #fff;
        background-position: left;
        margin-left: 20px;
        background-size: 15px;
        background-origin: content-box;
        }
    @media only screen and (max-width: 1399px) and (min-width: 1000px){
    .search-form .input-group .form-control:focus {
        width: 200px;
    }
    }
        @media only screen and (max-width: 1399px) and (min-width: 1000px){
            .search-form .input-group.search-group {
                left: 10px;
            }
            }