.modal-content{
    max-height: 600px;
    overflow-y: scroll;
}

.image-upload>input {
    display: none;
  }
  .upload-img{
    width: 100px;
    height: 100px;
    cursor: pointer
  } 

  .driv_img img {
    width: 60px !important;
    height:60px ! important;
  }
  p{
    margin-bottom: 0;
  }
  .modal.right .modal-content{
    height: 670px;
}
@media only screen and (max-width: 1399px) and (min-width: 1000px){
    .modal.right .modal-content{
        height: 550px ! important;
    }
    #float_cash_btn .modal-dialog{
      width: 70%;
  }
  }
@media only screen and (max-width: 1024px) and (min-width: 767px){
    .modal.right .modal-content{
        height: 670px ! important;
    }
    #float_cash_btn .modal-dialog{
      width: 60%;
  }
  }
  @media only screen and (max-width: 1200px) and (min-width: 1024px){
    .modal.right .modal-content{
        height: 430px ! important;
    }
    #float_cash_btn .modal-dialog{
      width: 60%;
  }
  }

#float_cash_btn .modal-dialog{
      width: 60%;
  }
  @media only screen and (max-width: 1399px) and (min-width: 1000px){
  .float_p p{
    font-size: 12px;
  }
  .right_cont p{
    font-size: 12px;
  }
}
.float_p p{
  color: #12303C40;
}
.right_cont p{
  text-align: right;
}
.bot_row{
  margin-top: 10px;
  padding: 5px 0;
}
.driv_id{
  color: #C1003A;
}
.modal .modal-header {
  padding: 23px 16px 0 16px;
}
#float_cash_btn .modal-body{
  position: unset;
}