<div class="main-panel">
<app-navbar></app-navbar>
<div class="content">
<!-- uiView:  -->
<div ui-view="" class="ng-scope">
<section class="custom_head">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<!-- <ul>
<li>
<div class="form-group">
<select>
<option>Select Category</option>
</select>
</div>
</li>
<li>
<div class="form-group">
<select>
<option>Select Subcategory</option>
</select>
</div>
</li>
<li>
<div class="form-group">
<select>
<option>Select Sub-Subcategory</option>
</select>
</div>
</li>
<li>
<div class="form-group">
<select>
<option>Status</option>
</select>
</div>
</li>
</ul> -->
</div>
<div class="col-md-3 right_tick">
<ul>
<li>
<button type="button" class="add_tick_btn" data-toggle="modal" data-target="#add_driv_btn">Add Ticket</button>
</li>
<li>
<button class="float_cash_btn"  (click) = "exportList($event);">Export XLS</button>
</li>
</ul>
</div>
</div>
</div>
</section>
<section class="custom_head">
<div class="container-fluid">
<div class="card">
<div class="card-content">
<div class="row">
<div class="col-md-12">
<div class="above_table_sec">
<ul>
<li><span class="light_color">Total Queries</span> : {{supportTotal}}</li>
<li><span class="light_color">Pending Queries</span> : {{supportPending}}</li>
<li><span class="light_color">Resolved Queries</span> : {{resolved}}</li>
<li><span class="light_color">Escalated Queries</span> : {{supportEscalate}}</li>
</ul>
</div>
<div class="suppor_li_table">
<div class="material-datatables">
<div class="table-responsive">
<table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
<thead>
<tr>
<th>Date & Time</th>
<!-- <th>User</th> -->
<th>Support ID</th>
<th>Customer ID</th>
<th>Order ID</th>
<th>Store ID</th>
<th>Driver Name</th>
<!-- <th>Category</th> -->
<th class="text-center">Status</th>
<!-- <th class="text-center">Action</th> -->
<th>Note</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of supportList;let i = index" >
<td>{{item.createdDate}}</td>
<!-- <td>Driver</td> -->
<td><span class="red_color">{{item.supportID}}</span></td>
<td><span class="red_color"><a routerLink="/customer/{{ item.userId }}">{{item.customerID}}</a></span></td>
<td><span class="red_color"><a routerLink="/order-details/{{ item.orderId }}">{{item.orderIDs}}</a></span></td>
<td>
   <span *ngFor="let st of item.store;let i = index" class="red_color"><a routerLink="/view-store/{{ st.storeId }}">{{st.storeID}}</a></span><br>
   <!-- <span class="red_color">#Store2_ID</span> -->
</td>
<td><span class="red_color">{{item.driverName}}</span></td>
<!-- <td>Failed Order</td> -->
<td class="text-center">
   <select class="reject_btn">
      <option>{{item.status}}</option>
   </select>
</td>
<!-- <td class="text-center"><span class="whatsapp_btn">Whatsapp</span></td> -->
<td>{{item.notes}}</td>
</tr>
</tbody>
</table>
<p class="text-center"><ngb-pagination  [collectionSize]="pages" (pageChange)="nextPage($event)" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="add_driv_sec">
<div class="modal right fade" id="add_driv_btn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<div class="row">
<div class="col-md-12">
<ul>
<li><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
</ul>
</div>
</div>
</div>
<div class="modal-body">
<form [formGroup]="supportForm" (ngSubmit)="onSubmit()" class="tick_form">
<div class="row">
<div class="col-md-12">
<div class="form-group">
<label>#Order_ID</label>
<input type="text" (input)="searchSuggestion($event.target.value)" maxlength="4"  class="form-control">
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Customer Phone Number</label>
<input type="text" formControlName="mobileNumber" class="form-control">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Customer Phone Name</label>
<input type="text" formControlName="name" class="form-control">
</div>
</div>
</div>
<div class="row">
<div class="col-md-12"> 
<div class="form-group">
<label>Notes</label>
<input type="text" formControlName="notes"  class="form-control">
</div>
</div>
</div>
<div class="add_tick_sec">
<p class="text-center">
<button class="add_car_btn">Add Ticket</button>
</p>
</div>
</form>
</div>
</div>
<!-- modal-content -->
</div>
<!-- modal-dialog -->
</div>