<div class="main-panel">
<app-navbar></app-navbar>
<div class="content">
<!-- uiView:  -->
<div ui-view="" class="ng-scope">
<section class="progress_bar_sec">
<div class="container-fluid">
<div class="row">
<div class="col-md-10.5">
<ul class="prog_bar">
<li [ngClass] ="{'current': orderProgress === 'PLACED' || orderProgress === 'ACCEPTSTORE' }" >Order Placed</li>
<li [ngClass] ="{'current': orderProgress === 'ACCEPTSTORE' || acceptByStore === 1}">Accepted by Stores</li>
<li [ngClass] ="{'red': orderProgress === 'CANCELLED' || cancelledByUser === 1}">Cancelled by User</li>
<li [ngClass] ="{'yellow':  assignDriver === 1}">Assign Driver</li>
<li [ngClass] ="{'pink':  packedByStore === 1}">Packed by Store</li>
<li [ngClass] ="{'current':  packedByDriver === 1}">Picked by Driver</li>
<li [ngClass] ="{'red': onWayToDelivery === 1}">Driver On Way</li>
<!-- <li [ngClass] ="{'pink':  cancelledByUser === 1}">Delivered</li> -->
</ul>
</div>
<div class="col-md-1.5">
<ul class="invo_btn">
<li><button class="save_invo_btn">Invoice</button></li>
<li *ngIf = " orderStatus === 'PENDING' " ><button (click)="updateOrderStatus('ACCEPTED')" class="save_invo_btn">Accept Order</button></li>
<li *ngIf = " orderStatus === 'ACCEPTED' "><button (click)="updateOrderStatus('REJECTED')" class="save_invo_btn">Cancel Order</button></li>
</ul>
</div>
</div>
</div>
</section>
<section class="custom_head">
<div class="container-fluid">
<div class="card">
<div class="card-content">
<div class="row">
<div class="col-md-8">
<div class="above_ord_det">
<ul class="plus_cc">
<li class="box_cc"><span class="light_color">Order Placed :</span> {{orderOn}} at {{ordertime}}</li>
<li class="box_cc"><span class="light_color">Delivery By :</span> {{deliveryDate}} | {{fromTime}} to {{toTime}}</li>
</ul>
</div>
</div>
<div class="col-md-4">
<div class="above_ord_det">
<!-- <ul class="plus_cc_right">
<li class="plus_ico"><a href=""><i class="fa fa-plus"></i>Add Item</a></li>
<li class="max_ico"><img src="assets/img/maxi_icon.svg" width="20px" height="20px"></li>
</ul> -->
</div>
</div>
</div>
<div class="suppor_li_table">
<div class="material-datatables">
<div class="table-responsive">
<table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
<thead>
<tr>
<!-- <th>Store</th> -->
<th>Product</th>
<th></th>
<th>Category</th>
<th>SubCategory</th>
<th>Sub-SubCategory</th>
<!-- <th>Variant</th> -->
<th class="text-center">Instructions</th>
<!-- <th class="text-center">Status</th> -->
<th class="text-center">Quantity</th>
<th>Price / unit</th>
<th>Amount</th>
<th></th>
</tr>
</thead>
<tbody *ngFor="let item of orderDetails;let i = index" >
<tr>
<td>{{item.storeName}}</td>
</tr>
<tr *ngFor="let prod of item.products">
<!-- <td>
My Super Mart<br>
<span class="red_color">#Store_ID</span><br>
<ul class="pho_ic_img">
<li><img src="assets/img/phone_icon.svg"></li>
<li><img src="assets/img/file.svg"></li>
</ul>
</td> -->
<td style="width: 30px;">

        <img src="{{prod.productImage}}">


</td>
<td>
<p>{{prod.productName}}</p>
<p class="red_color">{{prod.productCode}}</p>
</td>
<td>{{prod.categoryName}}</td>
<td>{{prod.productCategoryName}}</td>
<td>{{prod.productSubCategoryName}}</td>
<!-- <td>250ml</td> -->
<td class="text-center">{{prod.orderInstructions}}</td>
<!-- <td class="text-center">
<ul class="status_icon">
<li><img src="assets/img/packed.svg"></li>
<li><img src="assets/img/picked_by_driver.svg"></li>
</ul>
</td> -->
<td class="text-center">x{{prod.quantity}}</td>
<td>SAR {{prod.singlePrice}}</td>
<td>SAR {{prod.supplyPrice}}</td>
<td> <a style="cursor: pointer;" (click)="removeOrderItems(prod)"> <img src="assets/img/delete_icon.svg" style="width: 18px;height: 18px;"> </a></td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="ord_descrip">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<div class="card">
<div class="card-content">
<ul>
<!-- <li><img src="assets/img/user.png"></li> -->
<li class="ord_det"><span class="usr_name">{{firstName}} {{lastName}}</span><br><span class="red_color">#Cu0020</span></li>
</ul>
<h5>Delivery Address</h5>
<p>{{landmark}}, {{addressPinDetails}}</p>
<h5>Driver's Note</h5>
<p>{{delievryNotes}}</p>
<h5>Phone Number</h5>
<p>{{mobileNumber}}</p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<div class="card-content">
<h5>Delivery Address</h5>
<p>{{landmark}}, {{addressPinDetails}}</p>
<h5>For unavailable item</h5>
<p>Delete the item</p>
<ul class="prod_tot">
<li class="light_color">Product Total</li>
<li class="righ_cont">SAR {{totalAmount}}</li>
</ul>
<ul>
<li class="light_color">Tax</li>
<li class="righ_cont">{{ordertax}}</li>
</ul>
<ul>
    <li class="light_color">Discount</li>
    <li class="righ_cont">{{discountAmount}}</li>
    </ul>
<ul>
<li class="light_color">Delivery Charges</li>
<li class="righ_cont">Free</li>
</ul>
<ul>
<li class="light_color">Total Bill</li>
<li class="righ_cont">SAR {{grandTotal}}</li>
</ul>
<!-- <p *ngIf = "paytype === 'card'" class="text-center online_btn">Paid Online</p> -->

<!-- <p *ngIf = "paytype === 'cash'" class="text-center cod_btn">C.O.D</p> -->
<p  *ngIf = " payType === 'card' " class="text-center paid_btn">Online Paid</p> 

<p  *ngIf = " payType === 'cash' " class="text-center cod_btn">C.O.D</p> 

</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<div class="card-content">
<div class="row">
<div class="col-md-4">
    <img src="{{driverImage}}">
</div>
<div class="col-md-8">
    <span class="red_color">{{drId}}</span><br>
    <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span><br>
    <!-- <span class="light_color">Success Rate : 85%</span> -->
</div>
</div>
<br>
<ul>
<li>Assignment</li>
<li class="righ_cont"><span class="red_color">{{assignment_ID}}</span></li>
</ul>
<!-- <p class="driv_desc">Driver is picking up the item from Store 2 ( #store_id )</p> -->
<div class="row">
    <div class="col-md-12">
        <agm-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">
        <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(infowindow)"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        >
        <agm-info-window #infowindow>
        <p><strong>Name: </strong> {{m.address}}</p>
        </agm-info-window>
        </agm-marker>
        </agm-map>
    </div>
    </div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<div class="card-content">
<ul *ngFor="let item of orderDetails;let i = index">
<li class="ord_driv"><img src="{{item.storeImage}}"></li>
<li class="ord_det"><span>{{item.storeName}}</span><br>
<span class="red_color">{{item.storeID}}</span><br>
<span class="light_color">Status &nbsp; <b class="green">{{item.storeStatus}}</b></span>
</li>
</ul>
<!-- <ul>
<li class="ord_driv"><img src="assets/img/store2.png"></li>
<li class="ord_det"><span>#Dr0020</span><br>
<span class="red_color">#Dr0020</span><br>
<span class="light_color">Status &nbsp; <b class="orange">Rejected</b></span>
</li>
</ul>
<ul class="rej_bbn">
<li><button type="button" class="float_cash_btn">Reject Reason</button></li>
<li><button type="button" class="float_cash_btn">Assign Store</button></li>
</ul> -->
</div>
</div>
</div>
</div>
</div>