<div class="main-panel">
<app-navbar></app-navbar>
<div class="content">
<!-- uiView:  -->
<div ui-view="" class="ng-scope">
<section class="store_tab">
<div class="container-fluid">
<div id="exTab1">
<ul class="nav nav-pills">
<li class="active">
<a href="#1b" data-toggle="tab">User Feedbacks</a>
</li>
<li><a href="#2b" data-toggle="tab">Apps Feedbacks</a>
</li>
<li><a href="#3b" data-toggle="tab">Driver Feedbacks</a>
</li>
<li class="refresh_btn">
<i class="fa fa-refresh"></i>
</li>
</ul>
<div class="tab-content clearfix">
<div class="tab-pane active" id="1b">
<div class="feedback_table">
<div class="card">
<div class="card-content">
<div class="table-responsive">
<div class="material-datatables">
<table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
<thead>
<tr>
<th>Date</th>
<th>Store ID</th>
<th>Order ID</th>
<th>Customer ID</th>
<!-- <th>Driver ID</th> -->
<!-- <th>Price</th> -->
<th>Driver Rating</th>
<th>Product Raiting</th>
<th>Comment</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of appUserFeedbackList;let i = index"  >
<td>{{item.createdDate}}</td>
<td>
<span *ngFor="let st of item.store;let i = index" class="red_color"><a routerLink="/view-store/{{ st.storeId }}">{{st.storeID}}</a></span><br>
<!-- <span class="red_color">#Store2_ID</span> -->
</td>
<!-- <td class="red_color">#Store_ID</td> -->
<td class="red_color"><a routerLink="/order-details/{{ item.orderId }}">{{item.orderIDs}}</a></td>
<td class="red_color"><a routerLink="/customer/{{ item.userId }}">{{item.customerID}}</a></td>
<!-- <td class="red_color">#Driver_ID</td> -->
<!-- <td>SAR 628.00</td> -->
<td>

<ngb-rating [(rate)]="selected" [rate]="item.driverRating" class="rating-star-point" (hover)="hovered=$event" (leave)="hovered=0"></ngb-rating>

</td>
<td>
<ngb-rating [(rate)]="selected" [rate]="item.productRating" class="rating-star-point" (hover)="hovered=$event" (leave)="hovered=0"></ngb-rating>

<!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> -->

</td>
<td>{{item.commemts}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="2b">
<div class="feedback_table">
<div class="card">
<div class="card-content">
<div class="table-responsive">
<div class="material-datatables">
<table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
<thead>
<tr>
<th>Date</th>
<th>Customer ID</th>
<th>Application</th>
<th>Comment</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of appFeedbackList;let i = index">
<td>{{item.createdDate}}</td>
<td class="red_color"><a routerLink="/customer/{{ item.userId }}">{{item.customerID}}</a></td>
<td class="dark_font">{{item.apps}}</td>
<td>{{item.commemts}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="3b">
<div class="feedback_table">
<div class="card">
<div class="card-content">
<div class="table-responsive">
<div class="material-datatables">
<table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
<thead>
<tr>
<th>Date & Time</th>
<th>Store ID</th>
<th>Order ID</th>
<th>Customer ID</th>
<th>Driver ID</th>
<th>Price</th>
<th>Difficult to <br> Find Location</th>
<th>Comment</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of appdriverFeedbackList;let i = index">
<td>{{item.createdDate}}</td>
<td class="red_color" *ngFor="let items of item.store;let ii = index"><a routerLink="/view-store/{{ items.storeId }}">{{items.storeID}}</a></td>
<td class="red_color"><a routerLink="/order-details/{{ item.orderId }}">{{item.orderIDs}}</a></td>
<td class="red_color"><a routerLink="/customer/{{ item.userId }}">{{item.customerID}}</a></td>
<td class="red_color">{{item.drId}}</td>
<td></td>
<td>{{item.findLocation}}</td>
<td>{{item.notes}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>