<div class="container-fluid">
   <p class="text-right" data-toggle="modal" data-target="#add_adm_btn"><button class="add_admin_btn">Add Admin</button></p>
   <div class="col-md-12 usr_sec">
   <div class="card">
   <div class="card-content">
   <div class="material-datatables">
   <div class="table-responsive">
   <table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
   <thead>
   <tr>
   <th *ngFor = "let roles of getroleslist">{{roles.roleName}}</th>
   </tr>
   
   </thead>
   <tbody>
   <tr>
   <td>
   <tr>
     <td></td>
   </tr>
   </td>
   <!-- <td class="text-center"></td>
   <td class="text-center">
   <label class="switch"><input type="checkbox" [checked] = "adlist.account == 'true'" (change)="accStatChange($event,adlist.id)"/><span class="slider"></span>
   </label>
   </td>
   <td class="text-center">
   <label class="switch"><input type="checkbox" [checked] = "adlist.level1 == 'true'" (change)="level1StatChange($event,adlist.id)"/><span class="slider"></span>
   </label>
   </td>
   <td class="text-center">
   <label class="switch"><input type="checkbox" [checked] = "adlist.level2 == 'true'" (change)="level2StatChange($event,adlist.id)" /><span class="slider"></span>
   </label>
   </td>
   <td class="text-center">
   <label class="switch"><input type="checkbox" [checked] = "adlist.level3 == 'true'" (change)="level3StatChange($event,adlist.id)"/><span class="slider"></span>
   </label>
   </td>
   <td class="text-center">
   <label class="switch"><input type="checkbox" [checked] = "adlist.superAdmin == 'true'"  (change)="supAdminStatChange($event,adlist.id)"/><span class="slider"></span>
   </label>
   </td>
   <td class="text-center">
   <img src="assets/img/delete_icon.svg" (click)="del_user_set(adlist.id);" onmouseover="this.src='assets/img/delete_hover_icon.svg'" onmouseout="this.src='assets/img/delete_icon.svg'">
   </td> -->
   </tr>
   </tbody>
   </table>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   
   <section class="add_driv_sec">
   <div class="modal right fade" id="add_adm_btn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
   <div class="modal-dialog" role="document">
   <div class="modal-content">
   <div class="modal-header">
   <div class="row">
   <div class="col-md-7">
   <ul>
   <li><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
   <!-- <li class="stat_btn text-center"><label>Status</label>
   <label class="switch"><input type="checkbox"/><span class="slider"></span>
   </label>
   </li> -->
   </ul>
   </div>
   <!-- <div class="col-md-5">
   <ul class="right_side_icon">
   <li><img src="assets/img/edit_icon.svg" onmouseover="this.src='assets/img/edit_hover_icon.svg'" onmouseout="this.src='assets/img/edit_icon.svg'"></li>
   <li><img src="assets/img/delete_icon.svg" onmouseover="this.src='assets/img/delete_hover_icon.svg'" onmouseout="this.src='assets/img/delete_icon.svg'"></li>
   </ul>
   </div> -->
   </div>
   </div>
   <div class="modal-body">
   <p class="red_color">#Admin_ID</p>
   <form [formGroup]="addUserSetting" (ngSubmit)="onSubmit()">
   <div class="row">
   <div class="col-md-6">
   <div class="form-group">
   <label>First Name</label>
   <input type="text" name="" class="form-control" formControlName="firstName" placeholder="Sharad">
   </div>
   </div>
   <div class="col-md-6">
   <div class="form-group">
   <label>Last Name</label>
   <input type="text" name="" class="form-control" formControlName="lastName" placeholder="Kant">
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-md-12">
   <div class="form-group">
   <label>Email</label>
   <input type="email" name="" class="form-control" formControlName="email" placeholder="consult@sharadkant.com">
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-md-6">
   <div class="form-group">
   <label>Date of Birth</label>
   <input type="text" formControlName="dob" bsDatepicker  placeholder="DOB" [(bsValue)]="bsValue" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}" readonly   [outsideClick] = "true"  class="form-control datepicker">
   </div>
   </div>
   <div class="col-md-6">
   <div class="form-group">
   <label>Phone Number</label>
   <input type="number" name="" class="form-control" formControlName="mobileNumber" placeholder="+91 1234 567 890">
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-md-6">
   <div class="form-group">
   <label>Password</label>
   <input type="password" name="" class="form-control" formControlName="password" placeholder="xxx-xxx">
   </div>
   </div>
   <div class="col-md-6">
      <div class="form-group">
      <label>Roles</label>
      <select  formControlName ="roleId">
         <option value="1">Level 1</option>
         <option value="2">Level 2</option>
         <option value="3">Level 3</option>
         <option value="4">SuperAdmin</option>
         </select>
      </div>
      </div>
   </div>
   <div class="row">
   <div class="col-md-12">

   <br>
   <p class="text-center"><button class="add_car_btn">Submit</button></p>
   </div>
   </div>
   </form>
   </div>
   </div>
   <!-- modal-content -->
   </div>
   <!-- modal-dialog -->
   </div>
   </section>